/// Resource script
#include "Resource.h"
#include <winver.h>
/// @note
/// DESIGNINFO, HWB, TEXTINCLUDE, and 255 are reserved
/// by Microsoft for Resource nameID, so users should
/// not use them.
/// See https://docs.microsoft.com/ja-jp/cpp/windows/how-to-create-a-resource-script-file?view=msvc-160

/// @note
/// Enum cannot be used instead of Macro definitions.

// --- Manifest resources ---
// _ Resource Type ID for Manifest
#define MANIFEST 24
// nameID for MANIFEST is fixed to 1
1   MANIFEST    "Application.manifest"

// --- Icon resources ---
IRID_APPICON    ICON	"..\\res\\AppIcon.ico"

IRID_DNUMD		ICON	"..\\res\\DDN.ico"
IRID_DCAPSD		ICON	"..\\res\\DDC.ico"
IRID_DSCROLLD	ICON	"..\\res\\DDS.ico"
IRID_DINSD	ICON	"..\\res\\DDI.ico"

IRID_DNUMA		ICON	"..\\res\\DAN.ico"
IRID_DCAPSA		ICON	"..\\res\\DAC.ico"
IRID_DSCROLLA	ICON	"..\\res\\DAS.ico"
IRID_DINSA	ICON	"..\\res\\DAI.ico"

IRID_LNUMD		ICON	"..\\res\\LDNum.ico"
IRID_LCAPSD		ICON	"..\\res\\LDCaps.ico"
IRID_LSCROLLD	ICON	"..\\res\\LDScr.ico"
IRID_LINSD	ICON	"..\\res\\LDIns.ico"

IRID_LNUMA		ICON	"..\\res\\LANum.ico"
IRID_LCAPSA		ICON	"..\\res\\LACaps.ico"
IRID_LSCROLLA	ICON	"..\\res\\LAScr.ico"
IRID_LINSA	ICON	"..\\res\\LAIns.ico"

// --- Menu resources ---
MID_NIMENU_DUMMYPARENT MENU {
    POPUP "X" {
        MENUITEM "Num Lock",    MIID_NUML,       CHECKED
        MENUITEM "Caps Lock",   MIID_CAPL,      CHECKED
        MENUITEM "Scroll Lock", MIID_SCRL,    CHECKED
        MENUITEM "Insert",      MIID_INS,        CHECKED
        MENUITEM SEPARATOR
        MENUITEM "Notify when toggled", MIID_SENDNOTIFY
        // MENUITEM "Notification Sound",  MIID_NOTIFYSOUND,   CHECKED
        MENUITEM "Launch on Start up",  MIID_AUTOSTART
        MENUITEM SEPARATOR
        MENUITEM "About...",    MIID_ABOUT
        MENUITEM SEPARATOR
        MENUITEM "Quit",        MIID_EXIT
    }
}

// --- Version Info resources ---
// nameId is fixed to 1
1 VERSIONINFO
FILEVERSION RES_VERINFOnum
PRODUCTVERSION RES_VERINFOnum
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
    // String & Var are both required to show version info
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        {
            // VALUE "Comments", ""
            VALUE "CompanyName", RES_AUTHOR_STR
            VALUE "FileDescription", "LOKI - Lightweight & Open source Keyboard Indicator"
            VALUE "FileVersion", RES_APPVER_STR
            VALUE "InternalName", RES_EXEFILENAME
            VALUE "LegalCopyright", "(C) 2021 inucat - All rights reserved."
            // VALUE "LegalTrademarks", ""
            VALUE "OriginalFilename", RES_EXEFILENAME
            VALUE "ProductName", RES_APPNAME_STR
            VALUE "ProductVersion", RES_APPVER_STR
            // VALUE "Assembly Version", ""
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 0x4E4
    }
}
